* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
}

.news-content {
  margin: 20px;
}

.news-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  background: darkcyan;
  table-layout: fixed;
  max-height: 300px;
  overflow: auto;
}

.news-table th,
.news-table td {
  width: 16.67%;
  box-sizing: border-box;
  word-wrap: break-word;
}

.news-table th {
  border: 4px solid saddlebrown;
  font-style: italic;
  padding: 10px;
  background-color: chocolate;
  color: white;
}

.news-table td {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

h3 {
  font-family: "sans-serif";
  transition: color 0.3s ease;
}

td h2:hover {
  background-color: green;
  font-style: italic;
  color: aqua;
}

.description {
  margin: 0;
}

.url {
  text-decoration: none;
}

.url:hover {
  background-color: chocolate;
}

@media screen and (max-width: 575px) {
  .news-table th,
  .news-table td {
    display: table-cell;
    width: auto;
    box-sizing: border-box;
    float: none;
  }

  .news-table th {
    margin-right: 10px;
    background-color: cadetblue;
    color: cornflowerblue;
  }

  .news-table td {
    margin-right: 10px;
    margin-bottom: 10px;
    color: lime;
  }

  h3 {
    color: initial;
  }

  h3:hover {
    color: darkblue;
  }
}
